.logo {
    text-align: center;
    border-radius: 50%;

    /* animation for logo - 3 second spin */
    animation: spin 3s infinite linear;
}

.navbarColor {
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(357.48deg, #FE0707 2.99%, #C51004 26.76%, #890202 50.54%, #6D0202 74.31%, #3F0101 98.08%) !important; 
}

.navLinks {
    display: flex;
    list-style: none;
}

.navLinks li {
    text-align: center;
    font-size: 28px;
}

.navLinks li:hover {
    color: white;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.TitleFont {
    align-items: center;
    color: darkslategray;
    font-size: small;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: center;
    vertical-align: middle;
}

.TwoPerLine {
    display: inline-block;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}